:host {
    --primary-color: #5901c4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

li {
    list-style: none;
    text-align: center;
}

.card-title {
    background-color: #eee5f9;
    border-bottom: 4px solid var(--primary-color);
}

.card-title p {
    font-size: 1.25rem;
    margin-left: 2rem;
    font-weight: bold;
}

.clubs-list {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 6.5rem;
    margin-block: 0.5rem;
}

.club {
    justify-content: center;
    align-items: center;
    width: 5rem;
    padding: 8px;
}

.club:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.club-btn {
    flex-direction: column;
    border: none;
}

button {
    background-color: unset;
    border-radius: 4px;
    font-size: 0.96rem;
}